.aboutbox{
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
	width: 650px;
	float: right;
	padding-bottom: 45px;
}

.aboutbox .aboutbox-header{
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 18px 0;
	padding: 13px 23px;
	display: inline-block;

}

.aboutbox-body{
}


.aboutbox .worksheet-wrap{
	width: 400px;
	margin-right: 21px;
}

.worksheet-list{
	list-style: none;
	padding: 0;
	margin: 0px;
}

.worksheet-info{
	float: left;
	margin-left: 29px;
	max-width: 218px;
	overflow: hidden;
}

.worksheet-item{
	margin-bottom: 8px;
}

.worksheet-what{
	font-family: 'fira_sansmedium';
	font-size: 16px;
	float:left;
}

.worksheet-info{
	font-family: 'fira_sansbook';
	font-size: 15px;
	overflow: hidden;
	max-width: 218px;
}

.aboutbox-list{
	list-style: none;
	margin-top: 10px;
	margin-left: 10px;
}

.aboutbox .aboutbox-item{
	padding: 0 0 0 76px;
	margin-bottom: 20px;
}

.aboutbox .aboutbox-item:last-child{
	margin-bottom: 0;
}
.aboutbox-item .where{
	font-size: 16px;
	font-family: "fira_sansbook";
}

.aboutbox-item .period{
	font-family: "fira_sanslight";
	font-size: 15px;
	line-height: 1;
}

.icon-workcase{
	background: url(../images/workcase.png) 9px center no-repeat; 
}

.icon-stud{
	background: url(../images/stud.png) 15px center no-repeat; 
}

.icon-course{
	background: url(../images/course.png) 21px center no-repeat; 
}

/* AVATAR */
.image-wrap{
	float: left;
	margin-left: 54px;
	margin-top: 15px;
}

.avatar-box{
	width: 142px;
	height: 142px;
	border-radius: 50% 50%;
	overflow: hidden;
	border:5px solid #3ba8c0;
}

.avatar{
	width: 100%;
}

/* SKILLS */

.skills-list{
	width: 224px;
	padding: 0;
	list-style: none;
}

.skills-list .skills-item{
	display: inline-block;
	margin-right: 6px;
	color: #FFF;
	line-height: 1.2;
	min-width: 40px
	text-align: center;
	font-size: 14px;
	background: transparent -webkit-linear-gradient(bottom, #2E8CA2, #2E8CA2, #2E8CA2, #3BA8C0, #3BA8C0, #3BA8C0) repeat scroll 0% 0%;
	background: transparent -o-linear-gradient(bottom, #2E8CA2, #2E8CA2, #2E8CA2, #3BA8C0, #3BA8C0, #3BA8C0) repeat scroll 0% 0%;
	background: transparent linear-gradient(to top, #2E8CA2, #2E8CA2, #2E8CA2, #3BA8C0, #3BA8C0, #3BA8C0) repeat scroll 0% 0%;
	border-radius: 4px;
	font-family: 'proxima_nova_condensedSBd';
	padding: 2px 10px;
	margin-top: 4px;
}

/* for ie8 */

.no-cssgradients .skills-item{
	background: #3BA8C0 url(../images/skills-items.png) repeat-x;
}