.feedbackbox{
	float: right;
	width: 650px;
	margin-bottom: 26px;
	overflow: hidden;

	background: #eff3f7;
	border-radius: 4px;
	padding-bottom: 45px;
}

.feedbackbox .feedbackbox-header{
	display: block;
	width: 100%;
	padding: 40px 0;
	margin: 0 0 39px 0;

	color: #ffffff;
	font-size: 27px;
	font-family: 'fira_sansbook';
	font-weight: normal;
	text-align: center;

	background: #48cbe8;
	border-bottom: #67dffa solid 17px;
}

/* Form */

.feedbackbox .feedbackform-wrap{
	width: 429px;
	margin: auto;
}

.feedbackbox .feedbackform-item{
	display: inline-block;
	margin:0 10px 10px 10px; 
}

.feedbackbox .feedbackform-label {
	display: block;

	font-family: "fira_sanslight";
	font-size: 19px;
	color: #959aa8;
}

.feedbackbox .feedbackform-input{
	display: block;
	width: 176px;
	padding: 9px 0px 9px 13px;

	color: #48cbe8;
	font-family: "fira_sanslight";
	font-size: 13px;

	border: #48cbe8 solid 1px;
	border-radius: 3px;
}

.feedbackbox .feedbackform-input.error{
	background: #fad2d1;
	border: #f97e76 solid 1px;
}

.feedbackbox .feedbackform-input::-webkit-input-placeholder{
	color: #48cbe8;
 }

.feedbackbox .feedbackform-input.text-area{
	width: 382px;
	resize: none;
	padding-right: 9px;
	height: 162px; 
}

/* Captcha */

.feedbackbox .captcha{
	width: 192px;
	height: 80px;

	border: #48cbe8 solid 1px;
	border-radius: 5px;
	background: #ffffff;
}

.feedbackbox .captcha-input{
	width: 181px;
	padding: 4px 0px 4px 8px;
	margin: 19px 0 19px 20px;
}

/* Buttons */

.feedbackbox .button{
	display: block;
	margin: 0 13px;
	margin-top: 10px;
	padding: 0 24px;
	
	color: #ffffff; 
	font-family: 'fira_sansbook';
	font-size: 19px;

	border: none;
	border-radius: 7px;
}

.feedbackbox .button:focus{
	outline: none; 
}

.feedbackbox .button.send{
	background: #48cbe8;
	box-shadow: 0 4px 1px #3ba8c0;
}

.feedbackbox .button.send:active{
    background-color: #3ba8c0;
    outline: none;
}

.feedbackbox .button.clean{
	background: #849db5;
	box-shadow: 0 4px 1px #687b8f;
}

.feedbackbox .button.clean:active{
    background-color: #687b8f;
    outline: none; 
}

