.loginbox {
	overflow: hidden;
	width: 590px;
	margin: 20% auto;
	padding-bottom: 24px;

	text-align: center;

	background: #eff3f7;
	border-radius: 4px;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.30); 
}

.loginbox .loginbox-header {
	display: block;
	width: 100%;
	padding: 15px 0;
	margin: 0 0 14px 0;

	color: #ffffff;
	font-size: 40px;
	font-family: 'fira_sansbook';
	font-weight: normal;
	text-align: center;

	background: #48cbe8;
	border-bottom: #67dffa solid 15px;
}

.loginbox .titles {
	display: block;

	font-family: "fira_sanslight";
	font-size: 36px;
	color: #959aa8;
}

.loginbox .text-inputs {
	display: block;
	margin: auto;
	margin-bottom: 10px; 
	width: 65%;
	padding: 18px 19px;

	font-family: "fira_sanslight";
	color: #48cbe8;
	font-size: 17px;

	border: #48cbe8 solid 1px;
	border-radius: 3px;
}

.loginbox .text-inputs::-webkit-input-placeholder  {
	color: #48cbe8;
}

.loginbox .submit-button,
.loginbox .submit-button:hover{
	display: block;
	margin: auto;
	margin-top: 30px;
	min-width: 226px;
	
	color: #ffffff; 
	font-size: 36px;

	outline: none;
	background: #48cbe8;
	border: none;
	border-radius: 7px;
	box-shadow: 0 4px 1px #3ba8c0;
}

.loginbox .submit-button:active {
	outline: none;
	box-shadow: none;
	margin-top: 34px;
	margin-bottom: -4px;
}

.loginbox .submit-button:focus {
	outline: none;
}