.portfoliobox{
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
	width: 650px;
	float: right;
	padding-bottom: 45px;
}

.portfoliobox .portfoliobox-header{
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 18px 0;
	padding: 15px 23px;
	display: inline-block;
	padding-bottom: 12px;

}

.portfoliobox-body{
	padding-bottom: 40px;
}

/* PORTFOLIO */

.portfolio-list {
	margin: 0 5px;
	padding: 0;
	font-size: 0px; 
}

.portfolio-list .portfolio-item{
	list-style: none;
	font: 15px/1.5 'fira_sansbook';
	width: 183px;
	margin: 8px 15px 15px 15px;
	display: inline-block;
	vertical-align: top;

}

.portfolio-list .gallery-link{
	text-decoration: none;
	text-align: center;
}

.gallery-img {
	max-width: 100%;
	position: relative;
}

.gallery-img-wrap{
	display: block;
	position: relative;
	max-width: 179px;
	max-height: 125px;
	border-radius: 5px; 
	overflow: hidden;
	border:2px solid #3ba8c0;

}


.gallery-img-wrap .hovereffect_title{
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 1;

	margin: auto;

	color: #FFF;
	font-size: 12px;
	font-family: 'fira_sansbook';
	text-align: center;
	height: 18px;
	
	opacity: 0;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;

}
.gallery-img-wrap:hover .hovereffect_title{
	opacity: 1;
}


.gallery-img-wrap .hovereffect_title .title-text{
	display:inline-block;
	padding: 0px 3px;
	margin: 0;
	border: #FFF solid 2px;
	border-radius: 6px;
	width: auto;
}






.gallery-img-wrap:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background: rgba(1, 108, 164, 0.75);
	opacity: 0;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.gallery-img-wrap:hover:after {
 opacity: 1;
}

.portfolio-item-title{
	font-family: 'fira_sanseight_italic';
	color:#3ba8c0;
	font-size: 13px;
	margin-top: 9px;
	margin-bottom: 0;
	line-height: 1.3;
}

.portfolio-item-descr{
	font-family: "fira_sanslight";
	color: #4a545d;
	font-size: 15px;
	margin-top: 5px;
}

.additem{
	width: 180px;
	height: 129px;
	border-radius: 5px;
	display: block;
	overflow: hidden;
	border:1px dashed #3ba8c0;
	background: url(../images/word-add.png) #edf8fc center 34px no-repeat;
	font-size: 13px;
	color: #3ba8c0;
	font-family: "fira_sanslight";
	padding-top: 47px;
}


.additem:active,
.additem:focus{
	outline: none;
}



/*Add Project Popup Window*/

.addprojectbox{
	display: none;
	width: 362px;
	margin: 20% auto;
	padding-bottom: 24px;
	overflow: hidden;

	text-align: left;
	
	background: #eff3f7;
	border-radius: 4px;
	box-shadow: 0 2px 7px rgba(0,0,0,0.30); 
}


/*Add Project Header*/

.addprojectbox .addprojectbox-header {
	display: block;
	width: 97%;
	padding: 5px 0px 2px 12px;
	margin: 0 0 5px 0;

	text-align: left;
	
	background: #48cbe8;
	border-bottom: #67dffa solid 8px;
}

.addprojectbox .addprojectbox-header-title {
	margin: 0;
	padding: 0;

	color: #FFF;
	font-size: 25px;
	font-family: 'fira_sansregular';
	font-weight: normal;
}

.addprojectbox .addprojectbox-header-closebutton{
	margin: 5px 13px 0 0;
	padding: 0;
	width: 25px;
	height: 25px;
	
	background: url(../images/addfileclose.png);
	cursor: pointer;
}

/* Form */

.addprojectbox .addprojectbox-formwrap{
	display: block;
	width: 320px;
	margin: auto;
}

/*Error Msg START*/

.addprojectbox .addprojectbox-errormsgbox{
	display: none;
	margin: 15px 0;
	padding: 0px 8px;
	overflow: hidden;

	background: #fad2d1;
	border: #f97e76 solid 1px;
	border-radius: 4px;
}

.addprojectbox .addprojectbox-errormsgtitle{
	font-size: 25px;
	font-family: "fira_sansbook";
	color: #f97e76;
	line-height: 1.4em;
}

.addprojectbox .addprojectbox-errormsgtext{
	font-size: 15px;
	font-family: "fira_sansbook";
	color: #f97e76;
}

.addprojectbox .addproject-errorboxclose{
	float:right;
	margin: 0 -3px 0 0;
	text-decoration: none;
	color:#f97e76;
}
/*Error Msg END*/


/*Success Msg START*/

.addprojectbox .addprojectbox-successmsgboxwrap{
	position: absolute;
	display: none;
	margin-top: 43%;
	width: 89%;
	padding: 20px;

	text-align: center;

	background: #eff3f7;
	border-radius: 4px;
	box-shadow: 0 6px 13px rgba(0,0,0,0.35); 
}

.addprojectbox .addprojectbox-successmsgbox{
	padding: 0px 8px;
	overflow: hidden;

	text-align: left;

	background: #b8e1ce;
	border: #49bb7b solid 1px;
	border-radius: 4px;
}

.addprojectbox .addprojectbox-successmsgtitle{
	font-size: 25px;
	font-family: "fira_sansbook";
	color: #49bb7b;
	line-height: 1.4em;
}

.addprojectbox .addprojectbox-successmsgtext{
	font-size: 15px;
	font-family: "fira_sansbook";
	color: #49bb7b;
}

.addprojectbox .addproject-successboxclose{
	float:right;
	color: #49bb7b;
	text-decoration: none;
	margin: 0 -1px 0 0;
}
/*Success Msg END*/



.addprojectbox .addprojectbox-label{
	display: block;

	font-family: "fira_sansbook";
	font-size: 17px;
	color: #959aa8;
}

.addprojectbox .addprojectbox-input{
	display: block;
	margin: 0 0 5px 0; 
	
	color: #48cbe8;
	font-size: 13px;
	
	background: #fff;
	border: #48cbe8 solid 1px;
	border-radius: 3px;
	width: 97%;
	padding: 10px 0 10px 7px;
	font-family: "fira_sanslight";
}

.addprojectbox .addprojectbox-input.error{
	background: #fad2d1;
	border: #f97e76 solid 1px;
}


.addprojectbox .addprojectbox-input::-webkit-input-placeholder {
	color: #48cbe8;
}


/*File Input Style START*/
.addprojectbox .addprojectbox-fileinputwrap{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;

/*	background: #FFF;
	border: #48cbe8 solid 1px;
	border-radius: 3px;
	*/
}

.addprojectbox .addprojectbox-filename{
	float: left;
	width: 82%;
	margin: 11px 0 0 5px;
	
	font-family: "fira_sanslight";
	color: #48cbe8;
	font-size: 13px;
}

.addprojectbox .addprojectbox-addfileicon{
	display: block;
	position: absolute;
	height: 43px;
	width: 52px;
	right: 0;
	top: 0;

	border-radius: 0 3px 3px 0;
	cursor: pointer;
	background: #48cbe8 url(../images/addfileimg.png) no-repeat center center;
}

.addprojectbox .addprojectbox-inputfiles{
	position: absolute;
	left:-9999px;
}
/*File Input Style END*/

.addprojectbox .addprojectbox-input.text-area{
	padding-right: 7px;
	width: 95%;
	min-height: 90px;
	
	resize: none;
}

.addprojectbox .addprojectbox-subbtn{
	display: block;
	margin: auto;
	margin-top: 14px;
	padding: 0 28px;
	
	font-size: 19px;
	color: #FFF; 
	font-family: 'fira_sansbook';
	
	border: none;
	background: #48cbe8;
	border-radius: 7px;
	box-shadow: 0 4px 1px #3ba8c0;
}

.addprojectbox .addprojectbox-subbtn:active,
.addprojectbox .addprojectbox-subbtn:focus{
	outline: none;
}

.addprojectbox .addprojectbox-subbtn:active{
	margin-top: 18px;
	margin-bottom: -4px;
	box-shadow: none;
}